name: mruby/edge CI

on:
  push:
    branches:
      - master
    paths:
      - 'mrubyedge/**'
      - 'mrubyedge-cli/**'
  pull_request:
    branches:
      - master
    paths:
      - 'mrubyedge/**'
      - 'mrubyedge-cli/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install C compiler
        run: sudo apt-get update && sudo apt-get install -y build-essential
      - name: Run linter
        run: cargo clippy -p mrubyedge